version: 2
# build job parameters as a template
defaults: &defaults
  docker:
    # the Docker image with Cypress preinstalled
    - image: circleci/php
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
  staging:
    <<: *defaults
    steps:
      # - checkout
      - run: echo "Deploying to the Staging Server"
  prod:
    <<: *defaults
    steps:
      # - checkout
      - run: echo "Deploying to the Production Server"

workflows:
  version: 2
  stage_prod:
    jobs:
      - build:
          filters:
            branches:
              ignore: dev
      - staging:
          requires:
            - build      
          filters:
            branches:
              only: test
      - prod:
          requires:
            - build
          type: approval
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - prod