# version: 2
# jobs:
#    build:
#      docker:
#       - image: circleci/php
#      steps:
#        - checkout
#        - run: echo "Start tests - Dev branch"
version: 2
# build job parameters as a template
defaults: &defaults
  docker:
    # the Docker image with Cypress preinstalled
    - image: circleci/php
jobs:
  build:
    docker:
      - image: circleci/php
    branches:
      only:
        - dev
    steps:
      - checkout
      - run: echo "Start tests - Dev branch"
  staging:
    <<: *defaults
    steps:
      - checkout
      - run: echo "Deploying to the Staging Server"
  prod:
    <<: *defaults
    steps:
      - checkout
      - run: echo "Deploying to the Production Server"

workflows:
  version: 2
  stage_prod:
    jobs:
      - build
          # filters:
          #   branches:
          #     only: dev
      - staging:      
          filters:
            branches:
              only: test
      - hold:
          type: approval
          filters:
            branches:
              only: master
      - prod:
          requires:
            - hold